<div>

    <h2> Inicia sesión! </h2>

    <form id="loginForm">

        <input name="email" placeholder="Ingrese su email" />
        <input name="password" placeholder="Ingrese su password" />

        <input type="submit" value="Iniciar sesión" />

    </form>
</div>

<button id="githubBtn">Iniciar sesión con github</button>

<script src="js/login.js"></script>