
<div>
    <h1> ERROR AL REGISTRARSE </h1>
    <br>
    <h3> (usuario ya registrado) </h3>
    <br>
    <button class="btn btn-primary" onclick="location.href='/register'" type="submit">VOLVER ATRAS</button>
</div>


