

<div>
    <h2> CERRAR SESION </h2>
    <div id="redireccionAutomatica" class="usuario">
        <h3 class="alert alert-warning" role="alert">¡Te deslogeaste de la pagina {{ email }}!, ¡Esperamos que nos visites de nuevo!</h3>
    </div>
    <button class="btn btn-success" onclick="location.href='/api/autenticacion/login'">Ir pagina de inicio</button>
</div>


<script type="text/javascript">
    const redireccionAutomatica() {
        alert('Te estaremos redireccionando a la pagina de Login en 6 segundos');

        const redireccionar() { location.href = '/api/sesiones/'}
        setTimeout ("redireccionar()", 6000);
    }
</script>




