

<div>
    <h2> REGISTRARSE </h2>
    <br>
    <div class="alert alert-success" role="alert">
        <form action="/signup" method="post">
            <input type="text" name="usuario" placeholder="Ingrese su nombre/usuario" required>
            <input type="text" name="password" placeholder="Ingrese su contraseña" required>
            <br>
            <button class="btn btn-primary" type="submit">Ingresar</button>
        </form>
        <hr>
        <div>
            <button class="btn btn-success" onclick="location.href='/login'">Iniciar sesion</button>
        </div>
    </div>
</div>

